* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
.weather {
  background: #a3d8ff;
  background: -webkit-linear-gradient(to top, #ccf4ff, #a3d8ff);
  background: linear-gradient(to top, #ccf4ff, #a3d8ff);
  transition: background 0.5s ease;
}
.card-body {
  min-width: 300px;
  min-height: 350px;
  background: #4facfe;
  background: -webkit-linear-gradient(to top, #00f2fe, #4facfe);
  background: linear-gradient(to top, #00f2fe, #4facfe);
  transition: background 0.5s ease;
}
